.nav {
  background-color: #fff !important;
  z-index: 9999;
  border-bottom: 1px solid rgb(161, 161, 161) !important;
}

.search_input {
  border: 2px solid #206b80;
  outline: 0;
  padding: 2px 10px;
}
